#marco-detalles{
    position:fixed;
    width: 80vw;
    height: 80vh;
    top: 15vh;
    left: 10vw;
    background-color: var(--unofficial-beige);
    z-index:15;
    border: 3px solid var(--salmon);
    border-radius: 10px;
    padding:10px;
    overflow:auto;
}

.detalles-title{
    width: 85%;
}

.contenedor-carrusel-detalles{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalles-lado-a-lado{
    display: flex;
    justify-content: fill;
    align-items: start;
    gap: 20px;
    width:100%
}

.exit-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.detalles-price{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.detalles-description{
    margin-top: 10px;
}

.material-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.material-card {
    background-color: var(--comfy-beige);
    border: 1px solid var(--salmon);
    border-radius: 5px;
    padding: 5px 10px;
}

@media (max-aspect-ratio:1/1){
    .detalles-lado-a-lado{
        flex-direction: column;
        align-items: center;
    }

    #marco-detalles{
        left: 2.5vw;
        top: 8vh;
        width: 95vw;
        height: 90vh;
    }
}