#marco-detalles{
    position:fixed;
    width: 80vw;
    height: 80vh;
    top: 15vh;
    left: 10vw;
    background-color: var(--unofficial-beige);
    z-index:15;
    border: 3px solid var(--salmon);
    border-radius: 10px;
    padding:10px;
    overflow:auto;
}

.contenedor-carrusel-detalles{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalles-lado-a-lado{
    display: flex;
    justify-content: fill;
    align-items: start;
    gap: 20px;
    width:100%
}

.exit-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.detalles-price{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.detalles-description{
    margin-top: 10px;
}