* {
    --pop-violet:#59143a;
    --lipstick-red:#a63251;
    --salmon:#d97373;
    --comfy-beige:#f2e1c2;
    --sunset-yellow:#f2d399;
    --unofficial-gray:#101010;
    --unofficial-beige: #efe8d5;
}